<!DOCTYPE html>
<html>
  <head>
    <title>contact</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js" ></script>  
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" >

  </head>
  <body>
	<div>
		<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Creator Id</td>
                <td><input type="text" id="creatorid" name="creatorid"></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" id="username" name="username"></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td><input type="text" id="firstname" name="firstname"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" id="lastname" name="lastname"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><select id="gender" name="gender">
					  <option value ="male">Male</option>
					  <option value ="female">Female</option>
					</select>
				</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="tel" id="phone" name="phone"
			           minlength="9" maxlength="14" />
			    </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" id="email" name="email"></td>
            </tr>
            <tr>
                <td>Birthday</td>
                <td>
                	<input type="date" id="birthday" name="birthday"
		               value="2018-01-01"/>
		        </td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" id="age" name="age"></td>
            </tr>
            <tr>
                <td>Region</td>
                <td><input type="text" id="region" name="region"></td>
            </tr>
            <tr>
                <td>Social Media</td>
                <td><input type="text" id="socialmedia" name="socialmedia"></td>
            </tr>
            <tr>
                <td>Social Media Followers</td>
                <td><input type="text" id="socialmediafollower" name="socialmediafollower"></td>

            </tr>
            <tr>
                <td>Category #1</td>
                <td><input type="text" id="category1" name="category1"></td>
            </tr>
            <tr>
                <td>Category #2</td>
                <td><input type="text" id="category2" name="category2"></td>
            </tr>
            <tr>
                <td>Category #3</td>
                <td><input type="text" id="category3" name="category3"></td>
            </tr>
            <tr>
                <td>TA</td>
                <td><input type="text" id="ta" name="ta"></td>
            </tr>
            <tr>
                <td>TS</td>
                <td><input type="text" id="ts" name="ts"></td>
            </tr>
            <tr>
                <td>Current Status Name</td>
                <td><input type="text" id="currentstatusname" name="currentstatusname"></td>
            </tr>
            <tr>
                <td>Current Status Date</td>
                <td><input type="date" id="currentstatusdate" name="currentstatusdate"
		               value="2018-01-01"/></td>
            </tr>
            <tr>
                <td>Current Status </td>
                <td><input type="text" id="curretstatus" name="curretstatus"></td>
            </tr>
        </tbody>
    </table>
	</div>
	<div>
		<button type="submit" >Submit</button>
		<a href="/" class="button">Back</a>
	</div>
	<script>
		  $(document).ready(function() {
		    var table = $('#example').DataTable({
		    	"paging": false,
		    	"bInfo" : false,
		    	"searching": false,
		    	"ordering": false
		    });
		 
		    $('button').click( function() {
		        var data = table.$('input, select').serialize();
		        $.ajax({
				      type: 'POST',
				      url: '/contact/sendUserData',
				      data: data,
				      success: function(resultData) {
				         alert(resultData);
				      }
				    });
		    } );
		} );
  	</script>
  </body>

</html>