<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

	<!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js" ></script>  
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" >

</head>
  <body>
    
    <div>
    	<span><label><%= title %></label></span>
    	<span><a href="/contact" class="button">New</a></span>
    </div>
    <div>
	    <table id="example">
	    <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Name</th>
                <th>Age</th>
                <th>Name</th>
                <th>Age</th>
                <th>Name</th>
            </tr>
        </thead>
	</table>
	</div>
	<script>
		  $(document).ready(function() {

		    var table = $('#example').DataTable( {
		    	"processing": true,
		    	"ajax": {
					        url: "/getUsersData",
					        type: 'POST',
					        dataSrc: ""
					    },
		        "columns": [
		            { "data": "username" },
		            { "data": "name" },
		            { "data": "ta" },
		            { "data": "ts" },
		            { "data": "status" },
		            { "data": "phone" },
		            { "data": "region" }


		        ]
    } );
		 
		} );
  	</script>
  </body>
</html>
